= render partial: "layouts/header"

.buy
  = form_with model: @item, url: buy_path do |f|
    .buy__title
      購入内容の確認
    .buy__border

    .buy__content
      .buy__image
        = image_tag (@item.images.first.image.url)
      .buy__detail
        .buy__item_name
          = @item.name
        .buy__price
          = number_to_currency(@item.price, unit: "¥", precision: 0)
          （税込）送料込み
    .buy__border

    .buy__content
      .buy__wrapper
        .buy__label--big
          支払い金額
        .buy__amount
          = number_to_currency(@item.price, unit: "¥", precision: 0)
      .buy__point_check--invalid
        = check_box_tag :point
        = label_tag :point, "ポイントを使用(所持ポイント: P0)"
    .buy__content--border
      .buy__border
    .buy__content
      .buy__wrapper
        .buy__label
          支払い方法
          -# カード登録がない場合------------------------------------------------
      .buy__text
        .buy__info
          = link_to icon('fas', 'plus-circle')+" 登録してください", ""
          -# カード登録がある場合------------------------------------------------
      .buy__text
        -# ------------------------------------------------
    .buy__content--border
      .buy__border
    .buy__content
      .buy__wrapper
        .buy__label
          配送先
        .buy__edit
          = link_to "変更する", ""
      .buy__text
        〒
        = @delivery.postal_number
        %br
        = @delivery.prefecture.name
        = @delivery.city
        = @delivery.block
        = @delivery.building_name
    .buy__content--border
      .buy__border
    .buy__content
      = f.hidden_field :price, value: @item.price
      -# カード登録がない場合------------------------------------------------
      .buy__submit--invalid
        購入する
      -# カード登録がある場合------------------------------------------------
      = f.submit "購入する", class: "buy__submit"
      -# ------------------------------------------------

= render partial: "layouts/footer"
