.signup
  = render partial: "devise/shared/signups-header"
  %main.signup__main
    %section.signup__inner
      %h3.signup__inner--title
        新規会員登録
      .signup__inner-content
        .signup__inner-content__form
          .signup__inner-content__form--btn-mail
            %i.far.fa-envelope.fa-2x
            メールアドレスで登録する
          .signup__inner-content__form--btn-sns-facebook 
            %i.fab.fa-facebook-f.fa-2x
            %p Facebookで登録する
          .signup__inner-content__form--btn-google
            %p Googleで登録する
= render partial: "devise/shared/shared-footer"
%h2 Sign up
= form_with model: @user, url: user_registration_path, method: :post, local: true do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name, "ニックネーム"
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "ニックネーム"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :birthday
    %br/
    = f.date_select :birthday, start_year: 1900, end_year: Time.current.year, use_month_numbers: true
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true, autocomplete: "苗字"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "名前"
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana, autofocus: true, autocomplete: "苗字カナ"
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "名前カナ"
  .actions
    = f.submit "次へ"
= render "devise/shared/links"
