.mypage-nav
  %ul.mypage-list
    %li
      = link_to mypages_path, class: "mypage-list__box" do
        マイページ
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        お知らせ
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        やることリスト
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        いいね！一覧
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        出品する
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        出品した商品-出品中
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        出品した商品-取引中
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        出品した商品-売約済み
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        購入した商品-取引中
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        購入した商品-過去の取引
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        ニュース一覧
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        評価一覧
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        ガイド
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        お問い合わせ
        %i.fas.fa-chevron-right
    %h4
      メルペイ
  %ul.mypage-list
    %li
      = link_to "#", class: "mypage-list__box" do
        売上・振込申請
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        ポイント
        %i.fas.fa-chevron-right
    %li
    %h4
      設定
  %ul.mypage-list
    %li
      = link_to profile_mypages_path, class: "mypage-list__box" do
        プロフィール
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        発送元・お届け先住所変更
        %i.fas.fa-chevron-right
    %li
      = link_to addcard_mypages_path, class: "mypage-list__box" do
        支払い方法
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        メール/パスワード
        %i.fas.fa-chevron-right
    %li
      = link_to personal_info_mypages_path, class: "mypage-list__box" do
        本人情報
        %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "mypage-list__box" do
        電話番号確認
        %i.fas.fa-chevron-right
    %li
      = link_to logout_mypages_path, class: "mypage-list__box" do
        ログアウト
        %i.fas.fa-chevron-right

