.wrapper
  = render partial: 'homes/header-login'
  .header-nav-bar
    %ul
      %li
        = link_to root_path do
          %span
            メルカリ 
          %i.fas.fa-chevron-right
      %li
        = link_to root_path do
          %span.page
            マイページ
  = render partial: 'mypages/mypage-body'
  = render partial: 'homes/fotter'