.wrapper
  = render partial: 'homes/header'
  - breadcrumb :mypages
  = render "layouts/breadcrumbs"
  = render partial: "layouts/notification"
  = render partial: 'mypages/mypage-body'
  = render partial: 'homes/footer'