.wrapper
  = render partial: 'homes/header'
  .header-nav-bar
    %ul
      %li
      - breadcrumb :logout
      = render "layouts/breadcrumbs"
  %main.mypage-container
    = render partial: 'mypages/mypage-list'
    = render partial: 'homes/btn-exhibit'
    .user-logout
      .user-logout__button
        = link_to destroy_user_session_path, method: :delete do
          .btn-logout
            ログアウト
  = render partial: 'homes/footer'
