.contents
  .contents-image
    %i.contents-image__left.fas.fa-chevron-left
    %i.contents-image__right.fas.fa-chevron-right
    .contents-image__title
      .contents-image__title--text
        %h3
          フリーマーケットサイト
        %p 
  .contents-category
    %h4
      人気のカテゴリー
    %ul.contents-category__box
      = link_to category_path(1) do
        %li レディース
      = link_to category_path(2) do
        %li メンズ
      = link_to category_path(8) do
        %li 家電・スマホ・カメラ
      = link_to category_path(6) do
        %li おもちゃ・ホビー・グッズ 
  .contents-product
    .contents-product__title
      %h5 全商品一覧
      .contents-product__title--detail
        = link_to "もっと見る", root_path, class: "show" 
        %i.icon.fas.fa-chevron-right
    .contents-product__items
      %ul.contents-product__items--list
        = render partial: "homes/item", collection: @items
  .contents-bottom-image
    %p.contents-bottom-image__text
= render partial: 'homes/btn-exhibit'
