%header.header
  .header__upper
    .header__upper--logo
      = link_to image_tag("logo.svg", class: "image"), "/"
    .header__upper--search
      %form.search_container{action: "/", method: "post"}
        %input.search_container__text{type: "text",placeholder:  "何かお探しですか？"}
          %i.fas.fa-search
  .header__bottom
    %ul.header__bottom--left
      .header-category#category
        = link_to "#" ,class: "btn-sm" do
          %i.fas.fa-list-ul
          %span
            カテゴリーから探す
        .header-category__hidden
          = render partial: "homes/header-category", collection: @categories, as: "category"
      .header-category
        = link_to "#" ,class: "btn-sm" do
          %i.fas.fa-tags
          %span
            ブランドから探す
    .header__bottom--right
      - if user_signed_in?
        %ul.header-list
          %li.header-list__box
            = link_to mypages_path , class: "header-list__box--text" do
              %i.far.fa-heart
              %p いいね! 一覧
          %li.header-list__box
            = link_to mypages_path , class: "header-list__box--text" do
              %i.far.fa-bell
              %p お知らせ
          %li.header-list__box
            = link_to mypages_path , class: "header-list__box--text" do
              %i.fas.fa-check
              %p やることリスト
          %li.header-list__box
            = link_to mypages_path , class: "header-list__box--text" do
              %i.fas.fa-user-alt
              %p マイページ
      - else
        = link_to "新規会員登録", new_user_path , class: "btn btn-login"
        = link_to "ログイン", new_user_session_path, class: "btn btn-default"
