%header.header
  .header__upper
    .header__upper--logo
      = link_to image_tag("logo.svg", class: "image"), "/"
    .header__upper--search
      %form.search_container{action: "/", method: "post"}
        %input.search_container__text{type: "text",placeholder:  "何かお探しですか？"}
          %i.fas.fa-search
  .header__bottom
    %ul.header__bottom--left
      %i.fas.fa-list-ul
      = link_to "カテゴリーから探す", "#" ,class: "btn-sm"
      %i.fas.fa-tags
      = link_to "ブランドから探す", "#" ,class: "btn-sm"
    .header__bottom--right
      = link_to "新規会員登録", new_user_path , class: "btn btn-login"
      = link_to "ログイン", new_user_session_path, class: "btn btn-default"
