%header.header
  .header__upper
    .header__upper--logo
      = link_to image_tag("logo.svg", class: "image"), "/"
    .header__upper--search
      %form.search_container{action: "/", method: "post"}
        %input.search_container__text{type: "text",placeholder:  "何かお探しですか？"}
          %i.fas.fa-search
  .header__bottom
    %ul.header__bottom--left
      %i.fas.fa-list-ul
      = link_to "カテゴリーから探す", "#" ,class: "btn-sm"
      %i.fas.fa-tags
      = link_to "ブランドから探す", "#" ,class: "btn-sm"
    .header__bottom--right
      %ul.header-list
        %li.header-list__box
          = link_to root_path , class: "header-list__box--text" do
            %i.far.fa-heart
            %p いいね! 一覧
        %li.header-list__box
          = link_to root_path , class: "header-list__box--text" do
            %i.far.fa-bell
            %p お知らせ
        %li.header-list__box
          = link_to root_path , class: "header-list__box--text" do
            %i.fas.fa-check
            %p やることリスト
        %li.header-list__box
          = link_to root_path , class: "header-list__box--text" do
            %i.fas.fa-user-alt
            %p マイページ
.header-nav-bar
  %ul
    %li
      = link_to root_path do
        %span
          メルカリ 
        %i.fas.fa-chevron-right
    %li
      = link_to root_path do
        %span.page
          マイページ