%li.box-list
  = link_to item_path(item.id) do
    .box-list__upper
      = image_tag "sold.png", class: :sold if item.item_status_id == 4
      = image_tag item.images.first.image.url if item.images.present?
      .box-list__upper--price
        %span
          = number_to_currency(item.price, unit: "¥", precision: 0)
      .box-list__bottom 
        %span
          = item.name
