= render partial: "devise/shared/header"
.login
  .login__panel
    .login__panel--no-content
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", "http://localhost:3000/users/sign_up", class: "blue"
    .login__panel--form
      .login__panel--form--btn-sns-facebook 
        %i.fab.fa-facebook-square.fa-2x
        Facebookでログイン
      .login__panel--form--btn-google
        %i.fab.fa-google.fa-lg
        Googleでログイン
    
    .login__panel--form-inner
      = form_for @user do |f|
        = f.email_field :email, placeholder: "メールアドレス", class: "login-input-mail"
        = f.password_field :password, placeholder: "パスワード", class: "login-input-pass"
        .g-recaptcha{"data-sitekey" => "6LdGCMkUAAAAABnT9GivcNR4aSO3TXPLb936d_8i"}
        = link_to "ログイン", "http://localhost:3000/users/  ", class: "btn-login"
        = link_to "パスワードをお忘れの方", "", class: "btn-pass-missing"
          
.signup-footer 
  .signup-footer__navbar
    = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/", class: "left"
    = link_to "フリーマーケット利用規約", "https://www.mercari.com/jp/tos/", class: "center"
    = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/", class: "right"
  = link_to image_tag("logo_gray.svg", size: "90x90", class: "img"), root_path
  %p © Freemarket, Inc.
