.item-box 
  = link_to item_path(item) do
    .item-box__photo
      = image_tag item.images.first.image.url
      = image_tag "sold.png", class: "sold" if item.item_status_id == 4
    .item-box__body 
      %h3.item-box__body--text
        = item.name
      .item-box__wrapper
        .item-box__body--price 
          = number_to_currency(item.price, unit: "¥", precision: 0)
        .item-box__body--icon
          - if @likes_counts.values_at(item.id)[0]
            = icon('far', 'heart')
            %span
              = @likes_counts.values_at(item.id)[0]
