- if user_signed_in? && @item.liked?(current_user)
  = link_to item_likes_path(@item.id), method: :delete, remote: true do
    %li.items-tag__left--good{id: "good_btn_liked"}
      = icon('far', 'heart')
      %span いいね!
      %span#likes_count
        = @likes_count
- elsif user_signed_in?
  = link_to item_likes_path(@item.id), method: :post, remote: true do
    %li.items-tag__left--good{id: "good_btn"}
      = icon('far', 'heart')
      %span いいね!
      %span#likes_count
        = @likes_count
- else
  %li.items-tag__left--good{id: "#{'good_btn' if user_signed_in?}"+"#{'_liked' if user_signed_in? && current_user.likes.exists?(item_id: @item.id)}"}
    = icon('far', 'heart')
    %span いいね!
    %span#likes_count
      = @likes_count
