= render partial: "layouts/header"

.sell
  = form_for @item, url: items_path do |form|
    .sell__title
      商品の情報を入力
    .sell__content
      .sell__image_label
        出品画像
        .sell__required
          必須
        .sell__text
          最大10枚までアップロードできます
        .sell__image_container#container

        .sell__upload--drop_box#dropbox
          .sell__upload--text
            ドラッグアンドドロップ
            %br
            またはクリックしてファイルをアップロード
          = form.file_field :image, id: :image1, multiple: true, class: :file_field
        .sell__number#number
          0
        .sell__number#total
          0

    .sell__content
      .sell__label
        = form.label :name, "商品名"
        .sell__required
          必須
        .sell__text_field
          = form.text_field :name, placeholder: "商品名（必須、40文字まで）"

      .sell__label--follow
        = form.label :detail, "商品の説明"
        .sell__required
          必須
        .sell__text_area
          = form.text_area :detail, placeholder: "商品の説明（必須、1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

    .sell__content
      .sell__left_box
        商品の詳細
      .sell__right_box
        .sell__category#category_field
          .sell__label
            = form.label :category, "カテゴリー"
            .sell__required
              必須
          .sell__select_form#category_selector
            %i.fas.fa-chevron-down
            = form.collection_select :category, @categories, :id, :name, prompt: "---"

        .sell__label--follow
          = form.label :condition_id, "商品の状態"
          .sell__required
            必須
        .sell__select_form
          %i.fas.fa-chevron-down
          = form.collection_select :condition_id, @conditions, :id, :name, prompt: "---"
        
    .sell__content
      .sell__left_box
        配送について
        .sell__info
          = link_to root_path do
            ?
      .sell__right_box
        .sell__label
          = form.label :is_seller_shipping, "発送料の負担"
          .sell__required
            必須
        .sell__select_form
          %i.fas.fa-chevron-down
          = form.select :is_seller_shipping, [["送料込み(出品者負担)", true], ["着払い(購入者負担)", false]], prompt: "---"

        .sell__hidden#method
          .sell__label--follow
            = form.label :shipping_method_id, "配送の方法"
            .sell__required
              必須
          .sell__select_form
            %i.fas.fa-chevron-down
            = form.select :shipping_method_id, {}, prompt: "---"

        .sell__label--follow
          = form.label :prefecture_id, "発送元の地域"
          .sell__required
            必須
        .sell__select_form
          %i.fas.fa-chevron-down
          = form.collection_select :prefecture_id, @prefectures, :id, :name, prompt: "---"

        .sell__label--follow
          = form.label :shipping_period_id, "発送までの日数"
          .sell__required
            必須
        .sell__select_form
          %i.fas.fa-chevron-down
          = form.collection_select :shipping_period_id, @shipping_periods, :id, :period, prompt: "---"

    .sell__content
      .sell__left_box
        販売価格(300~9,999,999)
        .sell__info
          = link_to root_path do
            ?
      .sell__right_box
        .sell__label--price
          価格
          .sell__required
            必須
        .sell__text_field--price
          = form.text_field :price, placeholder: "例）10000"
        .sell__yen_mark
          ¥
      .sell__right_box--follow
        .sell__label--charge
          販売手数料(10%)
        .sell__charge#charge
          \-
      .sell__right_box--follow
        .sell__label--gain
          販売利益
        .sell__gain#gain
          \-
    .sell__content
      .sell__attention
        %span><
          = link_to "禁止されている出品", root_path, target: "_blank"
        、
        %span><
          = link_to "行為", root_path, target: "_blank"
        を必ずご確認ください。
      .sell__attention
        %span><
          またブランド品でシリアルナンバー等がある場合はご記載ください。
        %span><
          = link_to "偽ブランドの販売", root_path, target: "_blank"
        %span><
          は犯罪であり処罰される可能性があります。
      .sell__attention
        また、出品をもちまして
        %span><
          = link_to "加盟店規約", root_path, target: "_blank"
        に同意したことになります。
      = form.submit "出品する", class: "sell__button--submit"
      .sell__button--cansel
        = link_to "もどる", root_path

= render partial: "layouts/footer"
