.wrapper
  = render partial: 'homes/header'
  .items-container
    %h1
      = @item.name
    .items-container__content
      .items-image
        = image_tag @item.images.first.image.url, class: "items-image__box"
        = render partial: "image", collection: @item.images

      .items-container__info
        %table
          %tr
            %th 出品者
            %td 
              = link_to root_path do
                = @item.seller.name
              .items-container__info--icon-good
                = icon('fas', 'grin')
                %span
                  64
              .items-container__info--icon-normal
                = icon('fas', 'meh')
                %span
                  32
              .items-container__info--icon-sad
                = icon('fas', 'frown-open')
                %span
                  16
          %tr
            %th カテゴリー
            %td 
              = link_to root_path do
                = @item.category.root.name
              - if @item.category.root != @item.category.parent && @item.category.parent
                = link_to root_path do
                  = icon('fas', 'chevron-right')
                  = @item.category.parent.name
              - if @item.category.root != @item.category
                = link_to root_path do
                  = icon('fas', 'chevron-right')
                  = @item.category.name
          %tr
            %th ブランド
            %td 
              = link_to root_path do
                = @item.brand.name if @item.brand
          %tr
            %th 商品の状態
            %td  
              = @item.condition.name
          %tr
            %th 配送料の負担
            %td
              - if @item.is_seller_shipping
                送料込み（出品者負担）
              - else
                着払い（購入者負担）
          %tr
            %th 配送の方法
            %td  
              = @item.shipping_method.name
          %tr
            %th 配送元地域
            %td  
              = link_to root_path do
                = @item.prefecture.name
          %tr
            %th 配送の目安
            %td  
              = @item.shipping_period.period
    .items-container__price
      %span.items-container__price--text
        = number_to_currency(@item.price, unit: "¥", precision: 0)
      %span.items-container__price--tax      
        (税込)
      %span.items-container__price--fee      
        - if @item.is_seller_shipping
          送料込み
        - else
          着払い
    .items-container__btn
      = link_to buy_path(@item.id) do
        購入画面に進む
    .items-container__text
      %p
        = @item.detail
    .items-tag
      %ul.items-tag__left
        %li.items-tag__left--good{id: "#{'good_btn' if user_signed_in?}"+"#{'_liked' if current_user.likes.exists?(item_id: @item.id)}"}
          = icon('far', 'heart')
          %span いいね!
          %span#likes_count
            = @likes_count
        %li.items-tag__left--report
          = icon('far', 'flag')
          %span 不適切な商品の報告
      .items-tag__right
        = link_to root_path do
          = icon('fas', 'lock')
          %span
            あんしん・あんぜんへの取り組み
  .items-form
    = form_with model: @user, url: "", method: :post, local: true do |f|
      %p.items-form__note 
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = f.text_area :text, class: "items-form__text"
      = f.label "コメント機能は未実装です", class: 'items-form__btn'
  %ul.items-prev
    - if @prev_item
      %li.items-prev__left
        = link_to item_path(@prev_item.id) do
          = icon('fas', 'chevron-left') 
          %span 
            = @prev_item.name
    - if @next_item
      %li.items-prev__right
        = link_to item_path(@next_item.id) do
          %span
            = @next_item.name
          = icon('fas', 'chevron-right') 
  .items-media
    %ul.items-media__box
      %li.items-media__box--facebook
        = link_to "https://www.facebook.com/" do
          = icon('fab', 'facebook-square') 
      %li.items-media__box--twitter
        = link_to "https://twitter.com/login?lang=ja" do
          = icon('fab', 'twitter') 
      %li.items-media__box--pinterest
        = link_to "https://www.pinterest.jp/" do
          = icon('fab', 'pinterest') 
  .items-list
    = link_to "#" do
      %h2
        = @item.seller.name + "さんのその他の出品"
    .items-list__content
      = render @seller_items

  .items-bottom
    %ul.items-bottom__tag
      %li
        = link_to "#" do
          %span
            フリーマーケット
        = icon('fas', 'chevron-right')  
      %li
        テスト商品
  = render partial: 'homes/footer'
